header{
  position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
}

.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #BFCFB6;
    
}

.header__container-contato{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    
}

.contato__container{
    display: flex;
    align-items: center;
    
}

.contato__header-texto{
    font-size: 18px;
}

.DDD{
    font-weight: 300;
}
nav{
    background-color: black;
}

ul{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: #E6E3E1;
    gap: 3rem;
    margin: 0;
    list-style: none;
}

.active_header{
    background-color: #BFCFB6;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    
}

li{
    padding: 10px;
    cursor: pointer;
    transition: .8s;
}

li:hover{
    background-color: #BFCFB6;
    color: black;
    font-weight: bold;
}

.hamburguer{
    display: none;
}

.nav__mobile{
    display: none;
}

.temporarily-disabled {
    background-color: transparent;
    color: inherit;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
}

/* Tablets (largura entre 768px e 1024px) */
@media screen and (max-width: 1024px) {
    .header__container{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
    }

 .header__container-contato,
nav {
  display: none;
}

/* Logo menor */
.header__container-logotipo img {
  width: 80%;
}

/* Mostra ícone do menu hamburguer */
.hamburguer {
  display: block;
  cursor: pointer;
  z-index: 1100;
}

/* Menu Mobile */
.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Quando ativo */
.nav__mobile.ativo {
  transform: translateY(0);
}

/* Lista de links */
.nav__mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Botão de fechar */
.fechar {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 1101;
}

.fechar img {
  width: 30px;
  height: 30px;
}

body.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

}



