.localizacao__container{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 1024px) {
  .localizacao__container{
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    
  }

  .localizacao_icone{
    display: none;
  }
}