.localizacao__container{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    text-align: center;
    color: #ffff;
}

.mapa_mobile{
    display: none;
}

.textos_pagina_principal_localizacao_branco{
  display: none;
}

@media screen and (max-width: 1024px) {
  .localizacao__container{
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    
  }

  .mapa_desktop{
    display: none;
  }

  .mapa_mobile{
    display: block;
  }

  .localizacao_icone{
    display: none;
  }

.textos_pagina_principal_localizacao_branco{
  display: block;
}
}